<div class='ng-modal' ng-if='show'>
  	<div class='ng-modal-overlay'></div>
  	<div class='ng-modal-dialog' ng-if='show' ng-style='dialogStyle'>
    <!--<div class='ng-modal-close' ng-click='hideModal()'>X</div>-->
    	<h1>Título:</h1>
  		<h3>Autor:</h3>
  		<div class="row">
  			<div class="col-xs-6" align="center">
  				<img src="img/foto12.jpg" class="img-thumbnail" ng-click="toggleModal()">
  			</div>
  			<div class="col-xs-3" align="center" ng-controller="ComentariosCtrl as controlador">
  				<div class="alert alert-warning" role="alert" ng-repeat="comentarios in controlador.comentarios">
  					<p>"{{ comentarios.texto }}"</p>
  					<p align="right"><strong>{{ comentarios.user }}</strong></p>
  				</div>
  				<p>Nuevo:{{modalUser.shortKey}}</p>
  			</div>
  		</div>
  		<p></p>
  		<div class="col-xs-4 " >
  			<div class="input-group">
 	 			<input type="text" class="form-control" ng-model="modalUser.shortKey">
			</div>
			<p></p>
      		<button class="btn btn-default" ng-click=save()>Comentar</button>
      		<button class="btn btn-default" ng-click=cancel()>salir</button>
      	</div>
  	</div>
</div>