<style>
	.navbar-footer{
		background-image: url("img/banner4.jpg");
        background-color: #F3F781;
        border-color: #070719;
    }
</style>

<footer>
    <nav class="navbar navbar-inverse navbar-fixed-bottom navbar-footer">
        <div class="container-fluid">
            <div class="navbar-text">
                <div align = "center">
					<font color = "#DF3A01">Iniciar sesión</font>   
					<input type="button" class="btn btn-warning" value="INICIO" onClick="location.href='iniciarsesion.html'"/>            
					<font color = "#DF3A01" family>¿Eres nuevo?</font>
					<input type="button" class="btn btn-warning" value="REGISTRO" onClick="location.href='registro.html'"/>
				</div>
            </div>
        </div>
    </nav>
</footer>