<div class="container" style="padding-top: 10em;">
	<div class="row">
		<div class="col-xs-5">
			<form role="form">
				<div class="form-group">
					<label for="ejemplo_email_1"><strong><font color="blue">Email o nombre de usuario</font></strong></label>
					<input type="text" class="form-control" id="ejemplo_email_1" placeholder="Nombre o correo">
				</div>
				<div class="form-group">
					<label for="ejemplo_password_1"><strong><font color="blue">Clave de acceso</font></strong></label>
					<input type="password" class="form-control" id="ejemplo_password_1" placeholder="Contraseña">
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox"> <font color="blue">No cerrar sesión</font>
					</label>
				</div>
				<button type="button" class="btn btn-default"><a href="vistausuario.html">Entrar</a></button>
			</form>
		</div>
		<div class="col-xs-3"></div>
		<div class="col-xs-4">
			<h3><font color="blue">¿Eres nuevo?</font></h3>
			<button type="button" class="btn btn-default btn-lg "><a href="registro.html"><font color="blue">Registro</font></a></button>
		</div>
	</div>
</div>