<style>
	.navbar-registro-header{
		background-image: url("img/banner4.jpg");
        background-color: #F3F781;
        border-color: #070719;
    }
	.botonimagen{
    background-image:url("img/logoBlanco.png");
    background-color: transparent;
    background-repeat:no-repeat;
    border-color: transparent; 
    height:70px;
    width:110px;
    background-position:center;
	}
</style>

<header>
	<div class = "container-fluid" style="padding-top">
		<nav class="navbar navbar-registro-header navbar-default navbar-fixed-top" role="navigation">
			<div class="col-xs-2">
				<a href="vistausuario.html"><input type="button" class="botonimagen" /></a>
			</div>				
			<div class="col-xs-3 col-xs-offset-6" >
				<h3></h3>
			</div>				
		</nav>
	</div>
</header>