<style>
	.navbar-index{
		background-image: url("img/banner4.jpg");
        background-color: #F3F781;
        border-color: #070719;
    }
</style>

<header>
	<div class = "container-fluid">
		<div class="row">
			<nav class="navbar navbar-index navbar-fixed-top no-margin">
				<div class="col-xs-2">
					<a href="index.html"><img src="img/logoBlanco.png"/></a>
				</div>  
				<div class="col-xs-offset-1">
					<h1></h1>
					<form class="form-horizontal" role="form">
						<div>
							<button type="search" class="btn btn-primary activate"><span class="glyphicon glyphicon-search"></span></button>
							<div class="col-xs-3 col-xs-offset-6">
								<input type="busqueda" class="form-control" id="ejemplo_busqueda" placeholder="País, ciudad, etc">
							</div>
						</div>
					</form>
				</div>
				<div style="position: absolute; width: 150px; height: 100px; top: 15px; right: 0px; color: #fff; padding: 15px;z-index: 2; font-size: 17px">
					<a href="">Sobre nosotros</a>
				</div>
			</nav>
		</div>
	</div>
</header>