<ul class="nav nav-pills nav-justified">
	<li class=" dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">Usuario <span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li><a id="cameraroll" href="#/cameraroll">Camera Roll</a></li>
			<li><a id="photostream" href="#/photostream">Photostream</a></li>
			<li><a id="album" href="#/album">Album</a></li>
			<li><a id="mapa" href="#/mapa">Mapa</a></li>
			<li><a id="favoritos" href="#/favoritos">Favoritos</a></li>
			<li><a id="actividad-reciente" href="#/actividad-reciente">Actividad Reciente</a></li>
		</ul>
	</li>
	<li class=" dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">Personas <span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li><a id="fotos-desde" href="#/fotos-desde">Fotos desde</a></li>
			<li><a id="fotos-de" href="#/fotos-de">Fotos de</a></li>
		</ul>
	</li>
	<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">Explorar <span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li><a id="fotos-recientes" href="#/fotos-recientes">Fotos Recientes</a></li>
			<li><a id="mapa-mundial" href="#/mapa-mundial">Mapa Mundial</a></li>
			<li><a id="buscador-camaras" href="#/buscador-camaras">Buscador de Cámaras</a></li>
		</ul>
	</li>
	<li>
		<a id="subir-foto" href="subir-foto.html">Subir imagen</a>
	</li>
</ul>